/*--------Fuentes-------*/
	@font-face{
		font-family: "nevis";
		src: url("fonts/nevis.eot");
		src: url("fonts/nevis.eot?#iefix") format("embeded-opentype"),
			 url("fonts/nevis.woff") format("woff"),
			 url("fonts/nevis.ttf") format("truetype"),
			 url("fonts/nevis.svg") format("svg");
		font-weight: normal;
		font-style: normal;
	}

	@font-face{
		font-family: "fajala";
		src: url("fonts/FjallaOne-Regular.ttf") format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face{
		font-family: "BebasNeue";
		src: url('fonts/BebasNeue.otf');
		font-weight: normal;
		font-style: normal;
	}

	@font-face{
	font-family: "icons";
	src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg'),
		 url("fonts/websymbols-regular-webfont.eot");
	src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embeded-opentype"),
		 url("fonts/websymbols-regular-webfont.woff") format("woff"),
		 url("fonts/websymbols-regular-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	}

	@font-face{
		font-family: "TrebuchetMS";
		src: url('fonts/TrebuchetMS.ttf');
		font-weight: normal;
		font-style: normal;
	}

/*---Estilos generales---*/
*{
	padding: 0px;
	margin: 0px;
}
.icon{
	font-family: "icons";
	float: left;
	margin-right: 7px;
	margin-top: -px;
}

	
body{
	background-image: url(../imagenes/paven.png);
}

/*---Clearfix----*/
.clearfix{
	clear: both;
	float: none;
}


/*----Formularios----*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="textarea"],
select{
	border: 1px solid #ffffff;
	box-shadow: 0px 0px 3px #ccc inset;
	background: white;
	padding: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: grey;
	transition: all 300ms;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus{
	border: 3px solid #ccc;
	color: #555;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button{
	display: block;
	border-radius: 3px;
	width: 220px;
	padding: 25px;
	background-color: #87CEFA;
	cursor: pointer;
	color: white;
	font-size: 15px;
}
input[type="button"]:hover
input[type="submit"]:hover
input[type="reset"]:hover
button{
	text-shadow: 2px 2px 30px #ADD8E6;
	transition: all 700ms;
}

input[type="button"]:active
input[type="submit"]:active
input[type="reset"]:active
button{
	box-shadow: 0px 0px 15px blue inset;
	text-shadow: 0px 0px 30px #87CEFA;
}
/*---Fin de estilos generales-----*/


/*----Inicio de estilos de encabezado-----*/


#correoinicio{
	margin-left: 80px;
}
#header span{
	margin-top: 1px;
}
#header a{
	text-decoration: none;
}
#header h5{
	padding: 5px;
	color: black;
}
#header h5 a{
	text-decoration: none;
	color: black;
}
#cajainstagram{
	font-size: 14px;
	margin-right: 100px;
	float: right;
	margin-top: -20px;
}

#cajainstagram a{
	text-decoration: none;
	color: black;
	letter-spacing: 0.5px;
}


#header{
	width: 100%;
	height: 30px;
	margin:0px auto;
	background-color: #87CEFA;
}


/*---Fin de estilos de encabezado-----*/

/*---Inicio de estilos del menu inicio-----*/
#menu{
	margin: 0px auto;
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: #333333;
	box-shadow: 0px 0px 4px grey;
	font-family: sans-serif, helvetica, arial;	
	font-size: 18px;
	font-style: normal;
}

#menu ul {
	list-style: none;
	text-decoration: none;
	margin: 0px auto;
	width: 490px;
}

#menu > ul > li{
	line-height: 40px;
	float: left;
	transition: all 200ms;
}
#menu > ul > li > a{
	display: block;
	text-decoration: none;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	text-shadow: 5px 5px 10px gray;
}

#menu > ul > li:hover{
	color: white;
	display: pointer;
	background-color: ;
	box-shadow: 0px 0px 30px #ADD8E6 inset;
	transform: scale(1.2, 1.2);
}

/*---Menu desplegable----*/

#menu > ul > li > ul{
	display: none;
	position: absolute;
	width: 160px;
	box-shadow: 0px 0px 2px gray;
	z-index: 1;
}

#menu > ul > li:hover > ul{
	display: block;
}

#menu > ul > li:hover > ul > li{
	background-color: #f2f1f0;
	border-bottom: 1px solid #d6d6d6;
	padding: 8px;
	line-height: 25px;
	font-size: 13px;
	transition: all 300ms;
}

#menu > ul > li:hover > ul > li:hover{
	box-shadow: 0px 2px 40px #ADD8E6 inset;
	background-color: #ADD8E6;
}

#menu > ul > li:hover > ul > li > a{
	color: #666666;
	text-decoration: none;
}
/*---Seccion preinicio--*/
#preinicio{
	width: 100%; 
	height: 157px;
	margin: 0px auto;
}

#banner{
	width: 1250px;
	border: 10px solid white;
	border-radius: 6px;
	box-shadow: 0px 0px 2px grey;
	margin: 20px auto;
	background-color: #2f4f4f;
	background-position: -200px -200px;
}

#banner h2{
	display: block;
	width: 1155px;
	color:white;
	font-size: 35px;
	font-weight: normal;
	text-shadow: 1px 1px 1px black;
	margin: 20px auto;
}

#banner h4{
	display: block;
	width: 850px;
	color:white;
	font-size: 28px;
	font-weight: normal;
	text-shadow: 1px 1px 1px black;
	margin: 20px auto;
}


/*---Divisor preinicio---*/
#divider{
	margin-top: 40px;
	margin-left: 40px;
	width: 90%;
}

#divider h1{
	color: #87CEFA;
}

#divider h2{
	font-size: 35px;
	color: darkslategray;
	text-shadow: 0px 0px 1px darkslategray;
}

#divider h3{
	text-transform: uppercase;
	color: darkgray;
}

/*--- Seccion inicio---*/
#inicio{
	width: 80%;
	margin: 20px auto;
	margin-top: 20px;
	padding: 15px;
	min-height: 780px;
}

#card img{
	width: 100%;
	height: 176px;
	border-bottom: 3px solid #87CEFA;
	border: 1px solid #87CEFA;
	border-radius: 15px;
}

#card{
	float: left;
	display: block;
	width: 22%;
	height: 480px;
	background-color: white;
	border: 1px solid #87cefa;
	border-radius: 15px;
	margin-left: 100px;
	margin-top: 80px;
	cursor: pointer;
}

#card p{
	width: 97%;
	text-align: center;
	font-family: times new roman;
	font-size: 16px;
	margin-bottom: 40px;
	line-height: 24px;
}

#card h4{
	width: 95%;
	text-align: center;
	font-family: fajala;
	font-size: 17px;
	margin-top: 10px;
	line-height: 25px;
}

#card button{
	position: absolute;
	display: block;
	width: 7%;
	padding: 13px;
	background-color: #87CEFA;
	cursor: pointer;
	color: white;
	font-size: 12px;
	font-family: "TrebuchetMS";
	text-transform: uppercase;
	margin-left: 78px;
	margin-top: -10px;
	color: black;
	border: 1px solid #87CEFA;
	border-radius: 7px;
	text-shadow: 1px 1px 3px #ccc;
	transition: all 200ms;
}

#card button:hover{
	text-shadow: 2px 2px 30px blue !important;
	background-color: #87CEFA !important;
	transform: scale(1.2, 1.2);
}

#card a{
	text-decoration: none;
}


/*---Seccion nosotros---*/
#about-us{
	margin:0px auto;
	width: 100%;
	min-height: 1000px;
	margin-top: 40px;
}

#about{
	float: right;
	display: block;
	height: 463px;
	width: 50%;
	margin-top: -30px;
}

#about img{
	height: 465px;
	width: 100%;
}


#about-2 p{
	width: 70%;
	font-style: italic;
	font-size: 18px;
	text-align: justify;
	line-height: 20px;
	color: white;
	margin-top: 63px;
	margin-left: 150px;
	margin-right: 50px;
	padding: 40px;
}

#about-2 button{
	font-size: 13px;
	font-family: "TrebuchetMS";
	text-transform: uppercase;
	color: #263238;
	background-color: white !important;
	width: 40%; 
	height: 50px;
	padding-top: 18px;
	margin-left: 400px;
	margin-top: 60px;
	border: 1px solid #87CEFA;
	border-radius: 10px;
	transition: 500ms;
}

#about button:hover{
	text-shadow: 0px 0px 10px #87CEFA;
}
#about-2 a{
	text-decoration: none;
}

#about-2 button:hover{
	text-shadow: 0px 0px 10px #87CEFA;
	color: black;
	background-color: black;
	transition: all 200ms;
	transform: scale(1.1, 1.1);
}

#about-content-3{
	height: 460px;
	max-width: 100%;
}

#about-3{
	border: 1px solid #263238;
	background-color: #263238;
}

#about-4{
	width: 49%;
}

#tittle-box{
	line-height: 20px;
	margin-left: 20px;
	margin-top: 20px;
	padding: 20px;
}

#tittle-box h4{
	font-family: times new roman, helvetica, arial;
	color: white;
	text-shadow: 0px 0px 1px white;
	font-size: 20px;
	margin-bottom: 25px;
}

#tittle-box h2{
	color: white;
	font-family: times new roman, helvetica, arial;
	font-size: 17px;
}

#quality-box{
	position: absolute;
	max-width: 24%;
	margin-left: 40px;
	margin-top: 25px;
}

.quality-tittle{
	margin-bottom: 8px;
	color: white;
	text-shadow: 0px 0px 1px white;
	font-family: times new roman, helvetica, arial;
}

#quality-box p{
	width: 85%;
	color: white;
	text-align: left;
	line-height: 22px;
}


#response-box{
	width: 49%;
	float: right;
	margin-right: 20px;
	margin-top: 24px;
}

#response-box h4{
	margin-bottom: 8px;
	text-shadow: 0px 0px 1px white;
	color: white;
	font-family: times new roman, helvetica, arial;
}

#response-box p{
	line-height: 22px;
	text-align: left;
	color: white;
}



/*---Sección contacto----*/
#contact{
	padding: 40px;
	background-color: #f4f4f4;
	min-height: 800px;
	margin-top: 50px;
}

#form-box{
	margin-right: 85px;
	height: 750px;
	width: 40%;
	float: right;
	background-color: #87CEFA;
	border: 1px solid #87cefa;
	border-radius: 6px;
	box-shadow: 1px 1px 20px #87CEFA inset;
}
#form{
	color: white;
	margin-top: 85px;
	text-align: center;
}

#form p{
	margin-left: 93px;
	text-align: left;
	margin-top: 30px;
	color: darkslategray;
}

#form input{
	padding: 10px;
	width: 75%;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #ccc inset;
}

.mensaje{
	padding-bottom: 90px !important;
	width: 400px;
}

#form button{
	background-color: white;
	color: black;
	width: 20%;
	height: 45px;
	padding-top: 13px;
	margin-right: 90px;
	border: 1px solid #87CEFA;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #87CEFA inset;
	background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
	font-family: times new roman, helvetica, arial;
	float: right;
	transition: all 200ms;
}

#form button:hover{
	box-shadow: 0px 0px 1px #87CEFA;
	transform: scale(1.2, 1.2);
}

#contact-content{
	background-color: #f4f4f4;
	margin-left: 118px;
	height: 600px;
	width: 40%;
	float: left;
}

#contact-content h4{
	margin-top: 115px;
	font-size: 17px;
	font-family: times new roman, helvetica, arial;
	text-align: left;
	line-height: 22px;
	color: darkslategray;
	padding: 15px;
}

#email-box{
	font-size: 15px;
	margin-top: 70px;
	padding: 15px;
}

#email-box a{
	color: darkslategray;
	text-decoration: none;
	font-style: italic;
}

#num-box{
	color: darkslategray;
	padding: 15px;
	margin-top: 5px;
	font-size: 15px;
	font-style: italic;
}

.location{
	color: darkslategray;
	padding: 15px;
	margin-top: 5px;
	font-size: 15px;
	font-style: italic;
}

.instagram{
	padding: 15px;
	color: darkslategray;
	font-style: italic;	
}

.instagram a{
	display: block;
	width: 25%;
	text-decoration: none;
	color: darkslategray;
	text-shadow: 0px 0px 0px #87CEFA;
	transition: text-shadow 500ms;
}

.instagram a:hover{
	text-shadow: 0px 0px 1px #87CEFA;
	text-decoration: underline;
}

	
/*---Footer------*/
#footer{
	height: 470px;
	width: 100%;
	background: darkslategray;
	color: white;
	border-top: 1px solid black;
	overflow: hidden;
}

#footer .wrap div{
	float: left;
    width: 320px;
    height: 370px;
	margin: 70px;
	margin-right: 100px;
    text-align: center;
    color: white;
    font-family: "TrebuchetMS";
}

#footer a{
    text-decoration: none;
    color: #87CEFA;
    transition: all 300ms;
}

#footer h5{
    display: block;
    background: url(../imagenes/pxgray.png), white;
    height: 50px;
	text-align: center;
	letter-spacing: 2px;
    font-family: "BebasNeue";
    font-size: 40px;
    line-height: 55px;
    color: black;
    border-radius: 5px;
    margin-bottom: 5px;
}

#footer ul{
    text-align: left;
    margin: 20px;
    font-size: 25px;
}

#footer ul li{
	margin-top: 10px;
	padding: 5px;
	border-bottom: 1px solid white;
}

#footer ul li a{
	display: block;
	height: 40px;
}

#footer iframe{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border 5px solid white;
    box-shadow: 0px 0px 5px gray;
}

#footer img{
    margin-bottom: 15px;
}

#footer #browsers img{
    width: 45px;
}


