/*--------Fuentes-------*/
	@font-face{
		font-family: "nevis";
		src: url("fonts/nevis.eot");
		src: url("fonts/nevis.eot?#iefix") format("embeded-opentype"),
			 url("fonts/nevis.woff") format("woff"),
			 url("fonts/nevis.ttf") format("truetype"),
			 url("fonts/nevis.svg") format("svg");
		font-weight: normal;
		font-style: normal;
	}

	@font-face{
		font-family: "fajala";
		src: url("fonts/FjallaOne-Regular.ttf") format('truetype');
		font-weight: normal;
		font-style: normal;
	}
/*---Estilos generales---*/
*{
	padding: 0px;
	margin: 0px;

}
	
body{
	background-image: url(../imagenes/paven.png);
}

/*---Clearfix----*/
.clearfix{
	clear: both;
	clear: none;
}


/*----Formularios----*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="textarea"],
select{
	border: 1px solid #ffffff;
	box-shadow: 0px 0px 3px #ccc inset;
	background: white;
	padding: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: grey;
	transition: 300ms;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus{
	border: 3px solid #ccc
	color: black;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button{
	display: block;
	border-radius: 3px;
	width: 220px;
	padding: 25px;
	background-color: #87CEFA;
	cursor: pointer;
	color: white;
	font-size: 15px;
}
input[type="button"]:hover
input[type="submit"]:hover
input[type="reset"]:hover
button{
	text-shadow: 2px 2px 30px #ADD8E6;
	transition: all 700ms
}
input[type="button"]:active
input[type="submit"]:active
input[type="reset"]:active
button{
	box-shadow: 0px 0px 15px blue inset;
	text-shadow: 0px 0px 30px #87CEFA;
}
/*---Fin de estilos generales-----*/


/*----Inicio de estilos de encabezado-----*/
#header h5{
	padding: 5px;
	margin-left: 100px;
	color: black;
}
#header h5 a{
	text-decoration: none;
	color: black;
}
#header {
	min-width: 1024px;
	width: 100%;
	height: 30px;
	margin:0px auto;
	background-color: #87CEFA;

}


/*---Fin de estilos de encabezado-----*/

/*---Inicio de estilos del menu inicio-----*/
#menu{
	width: 99%;
	height: 40px;
	text-align: center;
	background-color: #333333;
	box-shadow: 0px 0px 4px grey;
	font-family: sans-serif, helvetica, arial;	
	font-size: 18px;
	font-style: italic;
	padding: 10px;
	padding-left: 6px;
}

#menu ul {
	list-style: none;
	text-decoration: none;
	margin: 0px auto;
	width: 490px;
}

#menu > ul > li{
	line-height: 40px;
	float: left;
	transition: all 700ms;
}
#menu > ul > li > a{
	display: block;
	text-decoration: none;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	text-shadow: 5px 5px 10px gray;
}

#menu > ul > li:hover{
	color: white;
	text-decoration-line: underline;
	display: pointer;
	background-color: ;
	box-shadow: 0px 0px 30px #ADD8E6 inset;
}

/*---Menu desplegable----*/

#menu > ul > li > ul{
	display: none;
	position: absolute;
	width: 160px;
	box-shadow: 0px 0px 2px gray;
	z-index: 1;
}

#menu > ul > li:hover > ul{
	display: block;
}

#menu > ul > li:hover > ul > li{
	background-color: #f2f1f0;
	border-bottom: 1px solid #d6d6d6;
	padding: 8px;
	line-height: 25px;
	font-size: 13px;
	transition: all 300ms;
}

#menu > ul > li:hover > ul > li:hover{
	box-shadow: 0px 2px 40px #ADD8E6 inset;
	background-color: #ADD8E6;
}

#menu > ul > li:hover > ul > li > a{
	color: #666666;
	text-decoration: none;
}
/*---Seccion preinicio--*/
#preinicio img{
	width: 100%;

}

#preinicio h2{
	font-size: 35px;
	display: block;
	margin: 0px auto;
	position: absolute;
	color: darkslategray;
	text-shadow: 0px 0px 3px #ccc;
	margin-top: -655px;
	margin-left: 174px;
	border: 3px solid #87CEFA;
	border-radius: 10px;
	background-color:  #87CEFA;
	transition: text-shadow 1s;
}


#preinicio h2:hover{
	text-shadow: 1px 1px 30px #87CEFA;
	transition: 700ms;
}

#preinicio h4{
	font-size: 25px;
	display: block;
	margin: 0px auto;
	position: absolute;
	color: darkslategray;
	background-color: #87CEFA;
	border: 1px solid #87CEFA;
	border-radius: 10px;
	margin-top: -590px;
	margin-left: 400px;
	text-shadow: 1px 1px 3px #87CEFA;
	transition: text-shadow 1s;

}


#preinicio h4:hover{
	text-shadow: 2px 2px 20px #ADD8E6;
	transition: 700ms;
}

#preinicio button{
	position: absolute;
	margin-left: 695px;
	margin-top: -460px;
	border: 1px solid #87CEFA;
	border-radius: 7px;
	text-transform: uppercase;
	transition: border 1s, background 1s;
}

#preinicio button:hover{
	text-shadow: 2px 2px 30px blue !important;
	background-color: #4682B4 !important;
	transition: all 500ms
}

#preinicio a{
	text-decoration: none;
	color: black;
}

/*---Divisor preinicio---*/

.divisorh1{
	color: #87CEFA;
}

.divisorh2{
	font-size: 35px;
	color: darkslategray;
	text-shadow: 0px 0px 1px darkslategray;
}

.divisorh3{
	text-transform: uppercase;
	color: darkgray;
}
/*--- Seccion inicio---*/
#inicio{
	width: 75%;
	margin: 0px auto;
	padding: 15px;
	min-height: 780px;
	margin-top: 125px;
}

#contenidoinicio{
	max-width: 1245px;
	margin-left: -60px;
}

#contenidoinicio button{
	width: 60px;
}


#cajainicio img{
	width: 315px;
	height: 176px;
	border-bottom: 3px solid #87CEFA;
}


#cajainicio{
	display: block;
	width: 315px;
	height: 480px;
	background-color: white;
	float: left;
	margin-left: 100px;
	margin-top: 80px;
}
#cajainicio p{
	text-align: center;
	font-family: times new roman;
	font-size: 16px;
	margin-bottom: 60px;
	line-height: 24px;
}

#cajainicio h4{
	text-align: center;
	font-family: fajala;
	font-size: 17px;
	margin-top: 10px;
	line-height: 25px;
}

#cajainicio button{
	position: absolute;
	display: block;
	width: 120px;
	padding: 13px;
	background-color: #87CEFA;
	cursor: pointer;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 102px;
	margin-top: -10px;
	color: black;
	border: 1px solid #87CEFA;
	border-radius: 7px;
	text-shadow: 1px 1px 3px #ccc;
	transition: text-shadow 1s, background 1s;
}

#cajainicio button:hover{
	text-shadow: 2px 2px 30px blue !important;
	background-color: #87CEFA !important;
	transition: all 500ms
}

#cajainicio a{
	text-decoration: none;
}


/*---Seccion nosotros---*/
#nosotros{
	margin:0px auto;
	width: 100%;
	min-height: 1200px;
	margin-top: 40px;
}

#contenidonosotros{
	max-width: 1585px;
}
#acerca{
	float: right;
	display: block;
	height: 463px;
	width: 820px;
	margin-top: -30px;
}

#acerca img{
	height: 465px;
	width: 818px;

}


#acerca button:hover{
	text-shadow: 0px 0px 10px #87CEFA;
}

#acerca2, #acerca3, #acerca4{
	height: 460px;
	width: 761px;
	border: 1px solid #87CEFA;
}

#acerca2 p{
	font-style: italic;
	font-size: 18px;
	text-align: justify;
	line-height: 20px;
	color: white;
	margin-top: 63px;
	margin-left: 150px;
	margin-right: 50px;
}

#acerca2 button{
	font-size: 13px;
	text-transform: uppercase;
	color: #87CEFA;
	position: absolute;
	background-color: white !important;
	width: 320px; 
	height: 50px;
	padding-top: 18px;
	margin-left: 400px;
	margin-top: 60px;
	border: 1px solid #87CEFA;
	border-radius: 10px;
}

#acerca2 button:hover{
	text-shadow: 0px 0px 10px #87CEFA;
}

#contenidoacerca3{
	height: 460px;
	max-width: 1000px;
}

#acerca3{
	border: 1px solid #263238;
	background-color: #263238;
}

#cajatitulos{
	line-height: 20px;
	margin-left: 20px;
	margin-top: 20px;
	padding: 20px;
}

#cajatitulos h4{
	font-family: times new roman, helvetica, arial;
	color: white;
	text-shadow: 0px 0px 1px white;
	font-size: 20px;
	margin-bottom: 25px;
}

#cajatitulos h2{
	color: white;
	font-family: times new roman, helvetica, arial;
	font-size: 17px;
}

#cajacalidad{
	position: absolute;
	max-width: 304px;
	margin-left: 40px;
	margin-top: 25px;
}

.titulocalidad{
	margin-bottom: 8px;
	color: white;
	text-shadow: 0px 0px 1px white;
	font-family: times new roman, helvetica, arial;
}

.parrafocalidad{
	max-width: 304px;
	color: white;
	text-align: left;
	line-height: 22px;
}


#cajaresponsabilidad{
	max-width: 304px;
	float: right;
	margin-right: 87px;
	margin-top: 24px;
}

.tituloresponsabilidad{
	margin-bottom: 8px;
	text-shadow: 0px 0px 1px white;
	color: white;
	font-family: times new roman, helvetica, arial;
}

.parraforesponsabilidad{
	line-height: 22px;
	text-align: left;
	color: white;
}



/*---Sección contacto----*/
#contacto{
	padding: 40px;
	background-color: #F4F4F4;
	min-height: 800px;
	margin-top: 50px;
}
#contenidocontacto{
	max-width: 100%;
}

#cajaformulario{
	margin-right: 85px;
	height: 750px;
	width: 605px;
	float: right;
	background-color: #87CEFA;
}
#formulario{
	color: white;
	margin-top: 85px;
	text-align: center;
}

#formulario p{
	margin-left: 93px;
	text-align: left;
	margin-top: 30px;
}

#formulario input{
	padding: 10px;
	width: 400px;
}

.mensaje{
	padding-bottom: 90px !important;
	width: 400px;
}

#formulario button{
	background-color: white;
	color: #87CEFA;
	width: 100px;
	height: 45px;
	padding-top: 13px;
	margin-right: 90px;
	border: 1px solid #87CEFA;
	border-radius: 5px;
	font-family: times new roman, helvetica, arial;
	float: right;
	transition: background-color 700ms;
}

#formulario button:hover{
	background-color: lightblue;
	color: black;
	text-shadow: 0px 0px 1px #87CEFA;
	transition: all 500ms;
}

#contenidocontactanos{
	margin-left: 118px;
	height: 600px;
	width: 600px;
	float: left;
}

.parrafocontactanos{
	margin-top: 115px;
	font-size: 17px;
	font-family: times new roman, helvetica, arial;
	text-align: left;
	line-height: 22px;
	color: darkslategray;
	padding: 15px;
}

#cajacorreo{
	font-size: 15px;
	margin-top: 70px;
	padding: 15px;
}

#cajacorreo a{
	color: darkslategray;
	text-decoration: none;
	font-style: italic;
}

#cajanumero{
	color: darkslategray;
	padding: 15px;
	margin-top: 5px;
	font-size: 15px;
	font-style: italic;
}

.ubicacion{
	color: darkslategray;
	padding: 15px;
	margin-top: 5px;
	font-size: 15px;
	font-style: italic;
}
/*----Fin Seccion contacto-----*/

	
/*---Footer------*/
footer{
	height: 40px;
	width: 100%;
	text-align: center;
	background: darkslategray;
	color: white;
	border-top: 1px solid black;
	font-style: italic;
}
#footer h5{
	margin-left: 220px;
	text-align: left;
	margin-top: 10px;
}
/*----Footer----*/

